[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
notification-myem-lib = {editable = true, path="./", extras=["dev"]}

[packages]
notification-myem-lib = {editable = true, path="./"}

[pipenv]
allow_prereleases = true

[requires]
python_version = "3.11"
